.terminal {
  background: #0f141c;
  min-height: 200px;
  overflow-y: auto;

  font-size: 14px;
  line-height: 1.42;
  font-family: 'IBM Plex Mono', Consolas, Menlo, Monaco, 'Courier New', Courier,
    monospace;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.4);
  @apply border border-gray-900 text-gray-200 p-4 md:py-5 md:px-5 xl:min-w-[500px] rounded max-h-80 xl:max-h-none;
}

.terminal__line {
  line-height: 2;
  white-space: pre-wrap;
}

.terminal__prompt {
  display: flex;
  align-items: center;
}

.terminal__prompt__label {
  flex: 0 0 auto;
  color: #ffb472;
}

.terminal__prompt__input {
  flex: 1;
  margin-left: 6px;
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
}

.terminal__prompt__input input {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  border: 0;
  outline: none;
  ring: 0;
  box-shadow: none !important;
  font-size: 14px;
  line-height: 1.42;
  font-family: 'IBM Plex Mono', Consolas, Menlo, Monaco, 'Courier New', Courier,
    monospace;
}
