@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 100% 97%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 201 96% 32%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  @apply bg-gradient-to-b from-blue-100 to-blue-200;
  display: flex;
  flex-direction: column;
}

.retro-text {
  font-family: 'Press Start 2P', cursive;
}

.readable-text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  letter-spacing: -0.25px;
}

.frost-bg {
  @apply bg-white bg-opacity-20 backdrop-filter backdrop-blur-lg;
}

.frost-border {
  @apply border border-white border-opacity-30;
}

.nav-link {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

/* Ensure content doesn't overflow on small screens */
@media (max-width: 640px) {
  .container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Add padding to the bottom of the page on mobile to prevent content from being obscured by OS gesture widgets */
@media (max-width: 768px) {
  .mobile-bottom-padding {
    padding-bottom: 5rem; /* Adjust this value as needed */
  }
}

